<!-- doing something a bit funky here because I want to be careful not to include JQuery twice! -->
<script>
  if (typeof jQuery == 'undefined') {
    document.write('<script src="/js/jquery-1.11.2.min.js"></scr' + 'ipt>');
  }
</script>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
<link rel="stylesheet" href="/css/bootstrap-social.css" />

<script src="/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/granim.js"></script>
<script src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

{% include google_analytics.html %}
